
body
{
	margin: 0;
	background-color: rgb(6, 6, 20);
}

#zaq
{
	margin: auto;

}

#image
{

	background-image: url(src/background.png);
	margin: auto;
	width: 879px;
	height: 540px;
}

#navigation
{
	display: block;
	margin: auto;
	padding: 40;
	width: 799px;
	color: white;
}

#navigation ul
{
	list-style-type: none;
}

#navigation li
{
	font-size: 16px;
	display: inline;
	margin: 0px;
	border: none;
	border-bottom: 3px solid white;
	padding: 0px;
}


#About:hover
{
	border-bottom: 3px solid rgb(254, 0, 54);
}

#Games:hover
{
	border-bottom: 3px solid rgb(254, 0, 227);
}

#Forum:hover
{
	border-bottom: 3px solid rgb(48, 0, 254);
}

#Circle:hover
{
	border-bottom: 3px solid rgb(48, 0, 254);
}

#navigation li a
{
	text-decoration: none;
	opacity: 0;
	color: white;
}


#navigation li a
{
	text-decoration: none;	
	opacity: 1;
	color: white;
}

#content
{
	background-image: url(src/content.png);
	margin: auto;
	padding: 50px;
	width: 642px;
	height: 321px;
	color: white;
}

#content p
{
	padding: 0px 40px;
	font-size: 20px;
}
